/* .gifs {
    width: 200px;
    height: 200px;
} */

.exerciseCard {
    margin: 20px;
}

.exerciseGif {
    height: 300px;
}

/* h4 {
    text-align: center;
} */

.titles {
    color: #1a81f0;
    padding-left: 5px;
}